<div>
    <form action="">
        <div>
            <h1> Enter your favourite recipe here</h1>
            <label for="name">Name:</label>
            <input type="text" id="name">
            <label for="name">Ingredients:</label>
            <input type="text" id="ingredients">
            <label for="name">Cooking Instructions:</label>
            <input type="text" id="cooking-instructions">
            <button type="submit" id="button2">Submit</button>
        </div>
    </form>

</div>
<script src="/js/create-recipe.js"></script>