{{!-- Add Comment --}}
<div class="padding-20">
    <form id="comment-form " class="padding-20">
        <label for="comment-title">Post Comment</label>
        <input class="padding-20" type="textarea" name="comment-title" id="comment-title">
        <label for="comment-title">Text</label>
        <input class="padding-20" type="textarea" name="comment-text" id="comment-body">
        <button class="padding-20" id="create-comment-btn">Post!</button>
    </form>
</div>
<script src="/js/create-comment.js"></script>