{{#each recipes}}

<h2>{{this.recipe_name}}</h2>

<h3>Comments</h3>

{{#each recipes.Comments}}

<div class="card">
    <h3 class="card-header"> {{this.comment}} </h3>
</div>
{{/each}}

<form class="card-body comment-form" id="comment-form">

    <label class="form-label">Comment</label>
    <input id="comment" name="comment-body" class="form-input" />

    <button type="submit" class="btn">Submit</button>
</form>

<script src="/js/create-comment.js"></script>
{{/each}}