{{!-- <div class="image for recipe">
    <img src="" alt="">
</div>
<div class="padding-20">
    <form id="comment-form " class="padding-20">
        <label for="comment-title">Post Comment</label>
        <input class="padding-20" type="textarea" name="comment-title" id="comment-title">
        <button class="padding-20" id="create-comment-btn">Post!</button>
    </form>
</div>
<script src="/js/comment.js"></script>
<ul>
    {{#each recipe.Comments}}
    <li>{{this.comment}}</li>
    {{/each}}
</ul> --}}

{{#if loggedIn}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}


<ul>
    {{#each recipe.Comment}}
    <li>{{this.comment}}</li>
    {{/each}}
</ul>

<script src="/js/comment.js"></script>