
.main-navbar {


  font-size: 20px;
  font-weight: bold;
  font-family: "nunito", "sans-serif"; 




}

#button1 {


  border:none;
  padding-top: 10px;
  padding-bottom:10px;
  color:wheat;
  background-color:darkorange;
  font-weight: bold;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}


#main-dashboard {


  max-width: 300px;
  margin: auto;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  min-height:100vh;
  background-image:url("../images/background-dashboard.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;





}


.login-form {

  max-width: 300px;
  margin: auto;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  min-height:100vh;
  font-size: 20px;
  font-weight: bold;
  font-family: "nunito", "sans-serif"; 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.login-page {

  background-image:url("../images/backgroundForLogin.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;


}


#submit-login {


margin-top: 10px;
border:none;
  padding-top: 10px;
  padding-bottom:10px;
  color:white;
  background-color:darkorange;
  font-weight: bold;
  width: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
  

}


#email-login {


margin-right: 100px;


}


#password-login {


margin-right:100px;
}

.signup-page {

  background-image:url("../images/background-signUp.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

}


.signup-form {

  max-width: 300px;
  margin: auto;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  min-height:100vh;
  font-size: 20px;
  font-weight: bold;
  font-family: "nunito", "sans-serif"; 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

}


#submit-signup {

  margin-top: 10px;
  border:none;
    padding-top: 10px;
    padding-bottom:10px;
    color:white;
    background-color:darkorange;
    font-weight: bold;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
    
  }